*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 40px;
}

button:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.clear {
    background-color: yellow;
}

.operator, .equals {
    background-color: orange;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 5px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    background-color: grey;
}

.first-row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.display {
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
    flex: 1 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    max-width: 307px;
    font-size: 32px;
    padding-top: 30px;
    overflow: hidden;
}